<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">

      <h2>Gestion de vos biens immobiliers</h2>

      <p>Une application sur mesure pour g&eacute;rer vos biens immobiliers en toute s&eacute;r&eacute;nit&eacute;. Visualisez
      vos clients, vos campganes, augmentez votre visiblit&eacute; sur internet et sur les outils de publication de biens
      immobiliers (immoscout, ...).</p>

      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">

      <h2>Publicit&eacute;</h2>

      <p>Vous pouvez, de fa&cedile;on simple et intuitive, m&eacute;diatiser votre activit&eacute; sur les r&eacute;seaux sociaux,
      en publiants des informations et en visualisant les ROI de chaque actions. G&eacute;rez des campagnes &agrave; la mesure
      de vos ambitions</p>

      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">

      <h2>Heading</h2>

      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
        massa justo sit amet risus.</p>

      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <!-- /.span4 -->
  </div>
  <!-- /.row -->
  <!--hr class="featurette-divider">

 <div class="featurette">
   <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png">
   <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
   <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
 </div>

 <hr class="featurette-divider">

 <div class="featurette">
   <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png">
   <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
   <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
 </div>

 <hr class="featurette-divider">

 <div class="featurette">
   <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png">
   <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
   <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
 </div>

 <hr class="featurette-divider"-->
</div>
<!--div class="page row-fluid offset4 span6">
  <h1>Application down for maintenance</h1>
  <p>
    We are sorry for the convenience, the application is currently down for maintenance. Our team is working on the
    system to get it up as soon as possible.
  </p>
</div>
<div class="clearfix"></div-->

<script>
    !function ($) {
        $(function () {
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>