<div class="span8">
  <article>
    <header>
      <h2>Summary</h2>
    </header>
    <p class="agency_summary inline-editable">
      <%=  @admin_agency.agency_info.summary %>
    </p>
  </article>
  <article>
    <header>
      <h2>Description</h2>
    </header>
    <p class="agency_desription inline-editable">
      <%=  @admin_agency.agency_info.description %>
    </p>
  </article>
</div>