<div class="span4">
  <h2>General information</h2>
  <ul>
    <li>
      <b>Name:</b>
      <%= @admin_agency.name %>
    </li>
    <li>
      <b>Website:</b>
      <%= @admin_agency.website %>
    </li>
    <li>
      <b>Info:</b>
      <%= @admin_agency.info %>
    </li>
  </ul>
</div>