<section>
  <header>
    <h2>A propos de Gotham</h2>
  </header>
  <div>
    Application permettant de gerer les objets metiers et l'activite des agences de vente / location de biens immobiliers en Valais.
  </div>
  <footer>
    By <a href="http://www.simnetsa.ch">Simnet S.A</a>
  </footer>
</section>