<section>
  <header>
    <h2>Nom de code Gotham</h2>
  </header>
  <div>
    La nouvelle application qui permet de g&eacute;rer ses objets m&eacute;tier et plus g&eacute;n&eacute;ralement l'int&eacute;gralit&eacute; de son activit&eacute;
  </div>
  <footer>
    By <a href="http://www.simnetsa.ch">Simnet S.A</a>
  </footer>
</section>