<div class="page">
    <h1>Application down for maintenance</h1>
    <p>
      We are sorry for the convenience, the application is currently down for maintenance. Our team is working on the system
      to get it up as soon as possible.
    </p>
</div>