<div class="container-fluid">
  <div class="progress progress-striped active">
    <div class="bar sim-loading-bar" style="width: 0%;"></div>
  </div>
</div>

<div class="container-fluid agency-listing" style="display: none;">
  <h1>Listing all agencies</h1>
  <%= render 'admin/agencies/list' %>
  <hr />
  <%= link_to 'Create new agency', new_admin_agency_path, :class => 'btn btn-primary' %>
</div>