<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/slider/slide-01.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Gestion de vos biens immobiliers</h1>
          <p class="lead">Une application sur mesure pour g&eacute;rer vos biens immobiliers en toute s&eacute;r&eacute;nit&eacute;. Visualisez
            vos clients, vos campganes, augmentez votre visiblit&eacute; sur internet et sur les outils de publication de biens
            immobiliers (immoscout, ...).</p>
          <a class="btn btn-large btn-primary" href="#">Cr&eacute;er un compte.</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/slider/slide-02.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Publicit&eacute;</h1>
          <p class="lead">Vous pouvez, de fa&cedile;on simple et intuitive, m&eacute;diatiser votre activit&eacute; sur les r&eacute;seaux sociaux,
            en publiants des informations et en visualisant les ROI de chaque actions. G&eacute;rez des campagnes &agrave; la mesure
            de vos ambitions.</p>
          <a class="btn btn-large btn-primary" href="#">En savoir plus.</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/slider/slide-03.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Des applications &agrave; votre image</h1>
          <p class="lead">Cr&eacute;ez vos applications, g&eacute;rez votre site internet sur des navigateur traditionnels, sur des mobiles, sur des tablettes.
            G&eacute; la diffusion de vos biens immobiliers sur vos &eacute;crans de diffusion. Personnalisez votre image, ...</p>
          <a class="btn btn-large btn-primary" href="#">Voir notre gallerie</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>